<a href="https://colab.research.google.com/github/ussalbt/datascience/blob/main/07_Pandas_Gerekli_t%C3%BCm_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Çalışma

In [1]:
## Ignore Warnings
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

## Pandas Serisi Oluşturmak

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.3.5'

In [4]:
# CODE HERE to make a PANDAS SERIE to get the output shown below.

pd.Series([10,88,3,4,5])

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [5]:
# CODE HERE to get the TYPE

type(pd.Series([10,88,3,4,5]))

pandas.core.series.Series

In [6]:
# CODE HERE to get the AXES

(pd.Series([10,88,3,4,5])).axes

[RangeIndex(start=0, stop=5, step=1)]

In [7]:
# CODE HERE to get the DTYPE

(pd.Series([10,88,3,4,5])).dtype

dtype('int64')

In [12]:
# CODE HERE to get the SIZE

(pd.Series([10,88,3,4,5])).size

5

In [15]:
# CODE HERE to get the DIMENSION

(pd.Series([10,88,3,4,5])).ndim

1

In [20]:
# CODE HERE to get the VALUES

(pd.Series([10,88,3,4,5])).values

array([10, 88,  3,  4,  5])

In [24]:
# CODE HERE to get the FIRST 3 ROW

(pd.Series([10,88,3,4,5])).head(3)

0    10
1    88
2     3
dtype: int64

In [25]:
# CODE HERE to get the LAST 3 ROW

(pd.Series([10,88,3,4,5])).tail(3)

2    3
3    4
4    5
dtype: int64

## İndex İsimlendirmesi

In [33]:
# CODE HERE to make a PANDAS SERIE to get the output shown below.

pd.Series([99,22,332,94,5])

0     99
1     22
2    332
3     94
4      5
dtype: int64

In [35]:
# CODE HERE

pd.Series([99,22,332,94,5], index = [1,3,5,7,9])

1     99
3     22
5    332
7     94
9      5
dtype: int64

In [36]:
# CODE HERE

pd.Series([99,22,332,94,5], index = ["a","b","c","d","e"])

a     99
b     22
c    332
d     94
e      5
dtype: int64

In [37]:
# CODE HERE to assign pandas serie to 'seri' 

seri = pd.Series([99,22,332,94,5], index = ["a","b","c","d","e"])

In [38]:
# CODE HERE

seri["b"]

22

In [40]:
# CODE HERE

seri["a":"d"]

a     99
b     22
c    332
d     94
dtype: int64

## Sözlük Üzerinden Liste Olusturmak

In [41]:
sozluk = {"reg":10, "log":11, "cart": 12}

In [42]:
# CODE HERE

pd.Series(sozluk)

reg     10
log     11
cart    12
dtype: int64

In [43]:
# CODE HERE to assign pandas serie to 'seri' 

seri = pd.Series(sozluk)
seri

reg     10
log     11
cart    12
dtype: int64

In [51]:
# CODE HERE

pd.concat([seri,seri])

reg     10
log     11
cart    12
reg     10
log     11
cart    12
dtype: int64

## Eleman İşlemleri

In [68]:
import numpy as np
a = np.array([1,2,33,444,75])
seri = pd.Series(a)
seri

0      1
1      2
2     33
3    444
4     75
dtype: int64

In [69]:
# CODE HERE

seri[0]

1

In [70]:
# CODE HERE

seri[0:3]

0     1
1     2
2    33
dtype: int64

In [71]:
# CODE HERE to get the OUTPUT in the below cell

seri = pd.Series([121,200,150,99], 
                 index = ["reg","loj","cart","rf"])

In [72]:
seri

reg     121
loj     200
cart    150
rf       99
dtype: int64

In [73]:
# CODE HERE

seri.index

Index(['reg', 'loj', 'cart', 'rf'], dtype='object')

In [74]:
# CODE HERE

seri.keys

<bound method Series.keys of reg     121
loj     200
cart    150
rf       99
dtype: int64>

In [75]:
# CODE HERE

list(seri.items())

[('reg', 121), ('loj', 200), ('cart', 150), ('rf', 99)]

In [76]:
# CODE HERE

seri.values

array([121, 200, 150,  99])

## Eleman Sorgulama

In [77]:
seri

reg     121
loj     200
cart    150
rf       99
dtype: int64

In [78]:
# CODE HERE

"reg" in seri

True

In [79]:
# CODE HERE

"a" in seri

False

In [80]:
# CODE HERE

seri["reg"]

121

## Fancy Eleman

In [81]:
seri

reg     121
loj     200
cart    150
rf       99
dtype: int64

In [82]:
# CODE HERE

seri[["rf", "reg"]]

rf      99
reg    121
dtype: int64

In [83]:
# CODE HERE to get the OUTPUT in the below cell

seri["reg"] = 130

In [84]:
seri["reg"]

130

In [85]:
# CODE HERE

seri["reg":"loj"]

reg    130
loj    200
dtype: int64

## Pandas DataFrame Oluşturma

In [86]:
import pandas as pd

In [87]:
l = [1,2,39,67,90]

In [88]:
l

[1, 2, 39, 67, 90]

In [89]:
# CODE HERE

pd.DataFrame(l, columns = ["degisken_ismi"])

   degisken_ismi
0              1
1              2
2             39
3             67
4             90

In [90]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [91]:
# CODE HERE

pd.DataFrame(m, columns = ["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

## df İsimlendirme

In [92]:
df = pd.DataFrame(m, columns = ["var1","var2","var3"])

In [93]:
# CODE HERE

df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [94]:
# CODE HERE to get the OUTPUT in the below cell

df.columns = ("deg1","deg2","deg3")

In [95]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [96]:
# CODE HERE

type(df)

pandas.core.frame.DataFrame

In [97]:
# CODE HERE

df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [98]:
# CODE HERE

df.shape

(3, 3)

In [99]:
# CODE HERE

df.ndim

2

In [100]:
# CODE HERE

df.size

9

In [101]:
# CODE HERE

df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [102]:
# CODE HERE

type(df.values)

numpy.ndarray

In [103]:
# CODE HERE

df.head(2)

   deg1  deg2  deg3
0     1     2     3
1     4     5     6

In [104]:
# CODE HERE

df.tail(1)

   deg1  deg2  deg3
2     7     8     9

In [105]:
a = np.array([1,2,3,4,5])

In [106]:
pd.DataFrame(a, columns = ["deg1"])

   deg1
0     1
1     2
2     3
3     4
4     5

# Eleman İşlemleri

In [107]:
import numpy as np
np.random.seed(99)
s1 = np.random.randint(10, size = 5)
s2 = np.random.randint(10, size = 5)
s3 = np.random.randint(10, size = 5)

In [108]:
# CODE HERE to get the OUTPUT in the below cell

sozluk = {"var1": s1, "var2": s2, "var3": s3}

In [109]:
sozluk

{'var1': array([1, 3, 9, 8, 9]),
 'var2': array([8, 2, 4, 5, 4]),
 'var3': array([1, 7, 3, 7, 1])}

In [110]:
# CODE HERE to get the OUTPUT in the below cell

df = pd.DataFrame(sozluk)

In [ ]:
df

   var1  var2  var3
0     1     8     1
1     3     2     7
2     9     4     3
3     8     5     7
4     9     4     1

In [111]:
# CODE HERE

df[0:1]

   var1  var2  var3
0     1     8     1

In [112]:
# CODE HERE

df.index

RangeIndex(start=0, stop=5, step=1)

In [113]:
# CODE HERE to get the OUTPUT in the below cell

df.index = ["a","b","c","d","e"]

In [114]:
df

   var1  var2  var3
a     1     8     1
b     3     2     7
c     9     4     3
d     8     5     7
e     9     4     1

In [115]:
# CODE HERE

df["c":"e"]

   var1  var2  var3
c     9     4     3
d     8     5     7
e     9     4     1

## Silme

In [118]:
# CODE HERE

df.drop("c", axis = 0)

   var1  var2  var3
a     1     8     1
b     3     2     7
d     8     5     7
e     9     4     1

In [119]:
df

   var1  var2  var3
a     1     8     1
b     3     2     7
c     9     4     3
d     8     5     7
e     9     4     1

In [120]:
# CODE HERE

df.drop("a", axis = 0, inplace = True)

In [121]:
df

   var1  var2  var3
b     3     2     7
c     9     4     3
d     8     5     7
e     9     4     1

## Fancy

In [122]:
l = ["c","e"]

In [123]:
# CODE HERE

df.drop(l, axis = 0)

   var1  var2  var3
b     3     2     7
d     8     5     7

## Degiskenler İcin

In [124]:
df

   var1  var2  var3
b     3     2     7
c     9     4     3
d     8     5     7
e     9     4     1

In [125]:
# CODE HERE

"var1" in df

True

In [126]:
l = ["var1","var4","var2"]

In [127]:
# CODE HERE

for i in l:
    print(i in df)

True
False
True

In [128]:
df

   var1  var2  var3
b     3     2     7
c     9     4     3
d     8     5     7
e     9     4     1

In [130]:
# CODE HERE

df["var1"]

b    3
c    9
d    8
e    9
Name: var1, dtype: int64

In [131]:
# CODE HERE to get the OUTPUT in the below cell

df["var4"] = df["var1"] / df["var2"]

In [132]:
df

   var1  var2  var3  var4
b     3     2     7  1.50
c     9     4     3  2.25
d     8     5     7  1.60
e     9     4     1  2.25

## Degisken Silmek

In [133]:
# CODE HERE

df.drop("var4", axis = 1)

   var1  var2  var3
b     3     2     7
c     9     4     3
d     8     5     7
e     9     4     1

In [134]:
df

   var1  var2  var3  var4
b     3     2     7  1.50
c     9     4     3  2.25
d     8     5     7  1.60
e     9     4     1  2.25

In [135]:
# CODE HERE

df.drop("var4", axis = 1, inplace = True)

In [136]:
df

   var1  var2  var3
b     3     2     7
c     9     4     3
d     8     5     7
e     9     4     1

In [137]:
l = ["var1","var2"]

In [138]:
# CODE HERE

df.drop(l, axis = 1)

   var3
b     7
c     3
d     7
e     1

## Gözlem ve Değişken Seçimi: loc & iloc

In [140]:
import numpy as np
import pandas as pd
np.random.seed(42)
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0     7    20    29
1    15    11     8
2    29    21     7
3    26    19    23
4    11    11    24
5    21     4     8
6    24     3    22
7    21     2    24
8    12     6     2
9    28    21     1

In [141]:
#loc: tanımlandığı şekli ile seçim yapmak için kullanılır.

In [142]:
# CODE HERE

df.loc[0:3]

   var1  var2  var3
0     7    20    29
1    15    11     8
2    29    21     7
3    26    19    23

In [143]:
#iloc: alışık olduğumuz indeksleme mantığı ile seçim yapar.

In [144]:
# CODE HERE

df.iloc[0:3]

   var1  var2  var3
0     7    20    29
1    15    11     8
2    29    21     7

In [145]:
# CODE HERE

df.iloc[0,0]

7

In [146]:
df

   var1  var2  var3
0     7    20    29
1    15    11     8
2    29    21     7
3    26    19    23
4    11    11    24
5    21     4     8
6    24     3    22
7    21     2    24
8    12     6     2
9    28    21     1

In [147]:
# CODE HERE

df.iloc[:3,:2]

   var1  var2
0     7    20
1    15    11
2    29    21

In [148]:
# CODE HERE

df.loc[0:3, "var3"]

0    29
1     8
2     7
3    23
Name: var3, dtype: int64

In [149]:
# CODE HERE

df.loc[0:3, "var3"]

0    29
1     8
2     7
3    23
Name: var3, dtype: int64

In [150]:
# CODE HERE

df.iloc[0:3]["var3"]

0    29
1     8
2     7
Name: var3, dtype: int64

# Koşullu Eleman İşlemleri

In [151]:
import numpy as np
import pandas as pd
np.random.seed(101)
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    12    18     7
1    24    12    16
2    10    14     9
3     5     9    22
4    29    29     1
5    15     6    13
6     9    18    20
7    16    27     9
8    20    20    28
9     3    13     9

In [152]:
# CODE HERE

df["var1"]

0    12
1    24
2    10
3     5
4    29
5    15
6     9
7    16
8    20
9     3
Name: var1, dtype: int64

In [153]:
# CODE HERE

df[0:2][["var1","var2"]]

   var1  var2
0    12    18
1    24    12

In [154]:
df

   var1  var2  var3
0    12    18     7
1    24    12    16
2    10    14     9
3     5     9    22
4    29    29     1
5    15     6    13
6     9    18    20
7    16    27     9
8    20    20    28
9     3    13     9

In [155]:
# CODE HERE

df.var1

0    12
1    24
2    10
3     5
4    29
5    15
6     9
7    16
8    20
9     3
Name: var1, dtype: int64

In [156]:
# CODE HERE

df[df.var1 > 15]

   var1  var2  var3
1    24    12    16
4    29    29     1
7    16    27     9
8    20    20    28

In [157]:
# CODE HERE

df[(df.var1 > 15) & (df.var3 < 5)]

   var1  var2  var3
4    29    29     1

In [158]:
# CODE HERE

df.loc[(df.var1 > 15), ["var1","var2"]]

   var1  var2
1    24    12
4    29    29
7    16    27
8    20    20

In [159]:
# CODE HERE

df[(df.var1 > 15)][["var1","var2"]]

   var1  var2
1    24    12
4    29    29
7    16    27
8    20    20

## Birleştirme İşlemleri

In [160]:
import numpy as np
import pandas as pd
np.random.seed(33)
m = np.random.randint(1,30, size = (5,3))
df1 = pd.DataFrame(m, columns = ["var1","var2","var3"])
df1

   var1  var2  var3
0    21     8    25
1     3    19    10
2    26     4     7
3    20    15    29
4    11    14     4

In [161]:
# CODE HERE to get the below cell output

df2 = df1 + 99

In [162]:
df2

   var1  var2  var3
0   120   107   124
1   102   118   109
2   125   103   106
3   119   114   128
4   110   113   103

## concat()

In [163]:
?pd.concat

In [164]:
# CODE HERE

pd.concat([df1,df2])

   var1  var2  var3
0    21     8    25
1     3    19    10
2    26     4     7
3    20    15    29
4    11    14     4
0   120   107   124
1   102   118   109
2   125   103   106
3   119   114   128
4   110   113   103

In [165]:
# CODE HERE

pd.concat([df1,df2], ignore_index=True)

   var1  var2  var3
0    21     8    25
1     3    19    10
2    26     4     7
3    20    15    29
4    11    14     4
5   120   107   124
6   102   118   109
7   125   103   106
8   119   114   128
9   110   113   103

In [166]:
# CODE HERE

df1.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [167]:
# CODE HERE to get the below cell output

df2.columns = ["var1","var2","deg3"]

In [168]:
df2

   var1  var2  deg3
0   120   107   124
1   102   118   109
2   125   103   106
3   119   114   128
4   110   113   103

In [169]:
df1

   var1  var2  var3
0    21     8    25
1     3    19    10
2    26     4     7
3    20    15    29
4    11    14     4

In [170]:
# CODE HERE

pd.concat([df1, df2])

   var1  var2  var3   deg3
0    21     8  25.0    NaN
1     3    19  10.0    NaN
2    26     4   7.0    NaN
3    20    15  29.0    NaN
4    11    14   4.0    NaN
0   120   107   NaN  124.0
1   102   118   NaN  109.0
2   125   103   NaN  106.0
3   119   114   NaN  128.0
4   110   113   NaN  103.0

In [171]:
# CODE HERE

pd.concat([df1, df2], join = "inner")

   var1  var2
0    21     8
1     3    19
2    26     4
3    20    15
4    11    14
0   120   107
1   102   118
2   125   103
3   119   114
4   110   113

In [172]:
# CODE HERE

pd.concat([df1, df2], ignore_index=True)

   var1  var2  var3   deg3
0    21     8  25.0    NaN
1     3    19  10.0    NaN
2    26     4   7.0    NaN
3    20    15  29.0    NaN
4    11    14   4.0    NaN
5   120   107   NaN  124.0
6   102   118   NaN  109.0
7   125   103   NaN  106.0
8   119   114   NaN  128.0
9   110   113   NaN  103.0

## merge()

In [173]:
import pandas as pd

In [174]:
?pd.merge

In [175]:
df1 = pd.DataFrame({'calisanlar': ['Ali', 'Veli', 'Ayse', 'Fatma'],
                    'grup': ['Muhasebe', 'Muhendislik', 'Muhendislik', 'İK']})

df1

  calisanlar         grup
0        Ali     Muhasebe
1       Veli  Muhendislik
2       Ayse  Muhendislik
3      Fatma           İK

In [176]:
df2 = pd.DataFrame({'calisanlar': ['Ayse', 'Ali', 'Veli', 'Fatma'],
                    'ilk_giris': [2010, 2009, 2014, 2019]})

df2

  calisanlar  ilk_giris
0       Ayse       2010
1        Ali       2009
2       Veli       2014
3      Fatma       2019

In [177]:
# CODE HERE

pd.merge(df1, df2)

  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2009
1       Veli  Muhendislik       2014
2       Ayse  Muhendislik       2010
3      Fatma           İK       2019

In [178]:
# CODE HERE

pd.merge(df1, df2, on = "calisanlar")

  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2009
1       Veli  Muhendislik       2014
2       Ayse  Muhendislik       2010
3      Fatma           İK       2019

In [179]:
# CODE HERE to get below cell output

df3 = pd.merge(df1, df2)

In [180]:
df3

  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2009
1       Veli  Muhendislik       2014
2       Ayse  Muhendislik       2010
3      Fatma           İK       2019

In [181]:
df4 = pd.DataFrame({'grup': ['Muhasebe', 'Muhendislik', 'İK'],
                    'mudur': ['Caner', 'Mustafa', 'Berkcan']})

df4

          grup    mudur
0     Muhasebe    Caner
1  Muhendislik  Mustafa
2           İK  Berkcan

In [182]:
# CODE HERE

pd.merge(df3,df4)

  calisanlar         grup  ilk_giris    mudur
0        Ali     Muhasebe       2009    Caner
1       Veli  Muhendislik       2014  Mustafa
2       Ayse  Muhendislik       2010  Mustafa
3      Fatma           İK       2019  Berkcan

In [183]:
df5 = pd.DataFrame({'grup': ['Muhasebe', 'Muhasebe',
                              'Muhendislik', 'Muhendislik', 'İK', 'İK'],
                    'yetenekler': ['matematik', 'excel', 'kodlama', 'linux',
                               'excel', 'yonetim']})

df5

          grup yetenekler
0     Muhasebe  matematik
1     Muhasebe      excel
2  Muhendislik    kodlama
3  Muhendislik      linux
4           İK      excel
5           İK    yonetim

In [184]:
df1

  calisanlar         grup
0        Ali     Muhasebe
1       Veli  Muhendislik
2       Ayse  Muhendislik
3      Fatma           İK

In [185]:
# CODE HERE

pd.merge(df1, df5)

  calisanlar         grup yetenekler
0        Ali     Muhasebe  matematik
1        Ali     Muhasebe      excel
2       Veli  Muhendislik    kodlama
3       Veli  Muhendislik      linux
4       Ayse  Muhendislik    kodlama
5       Ayse  Muhendislik      linux
6      Fatma           İK      excel
7      Fatma           İK    yonetim

# Toplulaştırma ve Gruplama (Aggregation & Grouping)

Basit toplulaştırma fonksiyonları:

* count()
* first()
* last()
* mean()
* median()
* min()
* max()
* std()
* var()
* sum()

In [186]:
import seaborn as sns

In [187]:
?sns.load_dataset

In [189]:
df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [190]:
# CODE HERE

df.shape

(1035, 6)

In [191]:
# CODE HERE

df.mean()

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [192]:
# CODE HERE

df["mass"].mean()

2.6381605847953233

In [193]:
# CODE HERE

df["mass"].count()

513

In [194]:
# CODE HERE

df["mass"].min()

0.0036

In [195]:
# CODE HERE

df["mass"].max()

25.0

In [196]:
# CODE HERE

df["mass"].sum()

1353.37638

In [197]:
# CODE HERE

df["mass"].std()

3.8186166509616046

In [198]:
# CODE HERE

df["mass"].var()

14.58183312700122

In [201]:
# CODE HERE

df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [202]:
# CODE HERE

df.dropna().describe().T

,count,mean,std,min,25%,50%,75%,max
number,498.0,1.734940,1.175720,1.0000,1.00000,1.000,2.0000,6.0
orbital_period,498.0,835.778671,1469.128259,1.3283,38.27225,357.000,999.6000,17337.5
mass,498.0,2.509320,3.636274,0.0036,0.21250,1.245,2.8675,25.0
distance,498.0,52.068213,46.596041,1.3500,24.49750,39.940,59.3325,354.0
year,498.0,2007.377510,4.167284,1989.0000,2005.00000,2009.000,2011.0000,2014.0

## Gruplama İşlemleri

In [203]:
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'veri': [10,11,52,23,43,55]}, columns=['gruplar', 'veri'])
df

  gruplar  veri
0       A    10
1       B    11
2       C    52
3       A    23
4       B    43
5       C    55

In [204]:
# CODE HERE

df.groupby("gruplar")

In [205]:
# CODE HERE

df.groupby("gruplar").mean()

         veri
gruplar
A        16.5
B        27.0
C        53.5

In [206]:
# CODE HERE

df.groupby("gruplar").sum()

         veri
gruplar
A          33
B          54
C         107

In [207]:
df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [208]:
# CODE HERE

df.groupby("method")

In [209]:
# CODE HERE

df.groupby("method")["orbital_period"].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [210]:
# CODE HERE

df.groupby("method")["orbital_period"].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,631.180000,544.217663,246.360000,438.770000,631.180000,823.590000,1016.000000
Eclipse Timing Variations,9.0,4751.644444,2499.130945,1916.250000,2900.000000,4343.500000,5767.000000,10220.000000
Imaging,12.0,118247.737500,213978.177277,4639.150000,8343.900000,27500.000000,94250.000000,730000.000000
Microlensing,7.0,3153.571429,1113.166333,1825.000000,2375.000000,3300.000000,3550.000000,5100.000000
Orbital Brightness Modulation,3.0,0.709307,0.725493,0.240104,0.291496,0.342887,0.943908,1.544929
Pulsar Timing,5.0,7343.021201,16313.265573,0.090706,25.262000,66.541900,98.211400,36525.000000
Pulsation Timing Variations,1.0,1170.000000,NaN,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000
Radial Velocity,553.0,823.354680,1454.926210,0.736540,38.021000,360.200000,982.000000,17337.500000
Transit,397.0,21.102073,46.185893,0.355000,3.160630,5.714932,16.145700,331.600590
Transit Timing Variations,3.0,79.783500,71.599884,22.339500,39.675250,57.011000,108.505500,160.000000

## İleri Toplulaştırma İşlemleri (Aggregate, filter, transform, apply)

In [211]:
import pandas as pd
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

## aggregate

In [215]:
# CODE HERE

df.groupby("gruplar").mean()

         degisken1  degisken2
gruplar
A             16.0      181.0
B             17.0      182.0
C             66.0      651.0

In [218]:
# CODE HERE

df.groupby("gruplar").aggregate([min, np.median, max])

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10   16.0  22       100  181.0  262
B              11   17.0  23       111  182.0  253
C              33   66.0  99       333  651.0  969

In [219]:
# CODE HERE

df.groupby("gruplar").aggregate({"degisken1": "min", "degisken2": "max"})

         degisken1  degisken2
gruplar
A               10        262
B               11        253
C               33        969

## filter

In [220]:
import pandas as pd
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [221]:
def filter_func(x):
    return x["degisken1"].std() > 9

In [222]:
# CODE HERE

df.groupby("gruplar").std()

         degisken1   degisken2
gruplar
A         8.485281  114.551299
B         8.485281  100.409163
C        46.669048  449.719913

In [223]:
# CODE HERE

df.groupby("gruplar").filter(filter_func)

  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969

## transform

In [224]:
import pandas as pd
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [225]:
# CODE HERE

df["degisken1"]*9

0     90
1    207
2    297
3    198
4     99
5    891
Name: degisken1, dtype: int64

In [226]:
df_a = df.iloc[:,1:3]

In [227]:
df_a.transform(lambda x: (x-x.mean()) / x.std())

   degisken1  degisken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853

## apply

In [228]:
import pandas as pd
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [229]:
# CODE HERE

df.apply(np.sum)

gruplar      ABCABC
degisken1       198
degisken2      2028
dtype: object

In [230]:
# CODE HERE

df[['degisken1', 'degisken2']].apply(np.mean)

degisken1     33.0
degisken2    338.0
dtype: float64

In [231]:
# CODE HERE

df.groupby("gruplar").apply(np.mean)

         degisken1  degisken2
gruplar
A             16.0      181.0
B             17.0      182.0
C             66.0      651.0

## Pivot Tablolar

In [232]:
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [233]:
# CODE HERE

titanic.groupby("sex")[["survived"]].mean()

        survived
sex
female  0.742038
male    0.188908

In [234]:
# CODE HERE

titanic.groupby(["sex","class"])[["survived"]].aggregate("mean").unstack()

        survived
class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [235]:
# CODE HERE

titanic.pivot_table("survived", index = "sex", columns = "class")

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [236]:
# CODE HERE

titanic.age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [237]:
# CODE HERE

age = pd.cut(titanic["age"], [0, 18, 90])
age.head(10)

0    (18.0, 90.0]
1    (18.0, 90.0]
2    (18.0, 90.0]
3    (18.0, 90.0]
4    (18.0, 90.0]
5             NaN
6    (18.0, 90.0]
7     (0.0, 18.0]
8    (18.0, 90.0]
9     (0.0, 18.0]
Name: age, dtype: category
Categories (2, interval[int64, right]): [(0, 18] < (18, 90]]

In [238]:
# CODE HERE

titanic.pivot_table("survived", ["sex", age], "class")

class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 90]  0.972973  0.900000  0.423729
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 90]  0.375000  0.071429  0.133663