<a href="https://colab.research.google.com/github/ussalbt/datascience/blob/main/preclasstring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'hello'.upper()

'HELLO'

In [2]:
import pandas as pd

In [3]:
orders= pd.read_table('http://bit.ly/chiporders')

In [4]:
orders.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [6]:
orders.item_name.str.upper()

0                CHIPS AND FRESH TOMATO SALSA
1                                        IZZE
2                            NANTUCKET NECTAR
3       CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                                CHICKEN BOWL
                        ...
4617                            STEAK BURRITO
4618                            STEAK BURRITO
4619                       CHICKEN SALAD BOWL
4620                       CHICKEN SALAD BOWL
4621                       CHICKEN SALAD BOWL
Name: item_name, Length: 4622, dtype: object

In [7]:
orders.item_name.str.contains('Chicken')

0       False
1       False
2       False
3       False
4        True
        ...
4617    False
4618    False
4619     True
4620     True
4621     True
Name: item_name, Length: 4622, dtype: bool

In [8]:
orders[orders.item_name.str.contains('Chicken')]

      order_id  ...  item_price
4            2  ...     $16.98
5            3  ...     $10.98
11           6  ...      $8.75
12           6  ...      $8.75
13           7  ...     $11.25
...        ...  ...         ...
4604      1828  ...      $8.75
4615      1832  ...      $8.75
4619      1834  ...     $11.25
4620      1834  ...      $8.75
4621      1834  ...      $8.75

[1560 rows x 5 columns]

In [11]:
orders.choice_description.str.replace('[', '').str.replace(']','')

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [12]:
orders.choice_description.str.replace('[\[\]]','')

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [21]:
from datetime import datetime
from datetime import date

In [25]:
current_date = datetime.now()
#print(current_date)
#print(current_date.day)
#print(current_date.month)
print(current_date.year)

2022

In [19]:
print(current_date.date())

2022-01-31

In [22]:
print(date.today())

2022-01-31

convert time datetime to strftime

In [26]:
#from datetime import datetime
current_date = datetime.now()
print(current_date.strftime("%d"))#%W,%B

31

In [28]:
#from datetime import datetime ,strptime
str1= '2022-01-31'
date1= datetime.strptime(str1,"%Y-%m-%d")
print(date1)#.year,.day,.month

2022-01-31 00:00:00

In [30]:
from datetime import timedelta
import datetime

current_date = datetime.datetime.now()
date_after_10_days = current_date+timedelta(days=10)
print("Today date:",current_date.date())
print("Date after 10 days:",date_after_10_days.date())

Today date: 2022-01-31
Date after 10 days: 2022-02-10

get_dummies

In [ ]:
#import pandas as pd

In [31]:
df = pd.DataFrame([('Foreign Cinema',289.0),
                   ('Liho Liho',224.0),
                   ('500 Club',25.30),
                   ('Foreign Cinema',25.30)],
                  columns=('name','Amount')
                  )
df

             name  Amount
0  Foreign Cinema   289.0
1       Liho Liho   224.0
2        500 Club    25.3
3  Foreign Cinema    25.3

In [32]:
pd.get_dummies(df,columns=['name'])

   Amount  name_500 Club  name_Foreign Cinema  name_Liho Liho
0   289.0              0                    1               0
1   224.0              0                    0               1
2    25.3              1                    0               0
3    25.3              0                    1               0

In [33]:
pd.get_dummies(df,columns=['name'], prefix="dmy")

   Amount  dmy_500 Club  dmy_Foreign Cinema  dmy_Liho Liho
0   289.0             0                   1              0
1   224.0             0                   0              1
2    25.3             1                   0              0
3    25.3             0                   1              0

In [34]:
pd.get_dummies(df,columns=['name'], prefix="dmy",prefix_sep="*")

   Amount  dmy*500 Club  dmy*Foreign Cinema  dmy*Liho Liho
0   289.0             0                   1              0
1   224.0             0                   0              1
2    25.3             1                   0              0
3    25.3             0                   1              0

In [35]:
pd.get_dummies(df,columns=['name'],drop_first = True)

   Amount  name_Foreign Cinema  name_Liho Liho
0   289.0                    1               0
1   224.0                    0               1
2    25.3                    0               0
3    25.3                    1               0

csv okuma

In [36]:
#import pandas as pd
import sqlalchemy

In [ ]:
#engine = sqlalchemy.create_engine(mysql+pymysql://root:@localhost:3)

In [38]:
#df=pd.read_sql_table("customers",engine,columns=['name'])ekstra column isimleri yazılabilir.
#df

In [ ]:
#query='''SELECT customers.name,customers.phone_number,orders.name,orders.amount
#FROM customers INNER JOIN orders
#ON customers.id= orders.customer_id'''

#df=pd.read_sql_query(query,engine)
#df

In [ ]:
#df.pd.read_csv("customer.csv")
#df

In [ ]:
#df.rename(colımns={'Customer Name':'name',
 #                  'Customer Phone':'phone_number'
  #                 }, inplace= True)
#df

In [ ]:
#df.to_sql(
 #   name='customers',
  #  con=engine,
   # index=False,
    #if_exists='append'
#)

In [59]:
#df.read.sql("customers",engine)

check yourself soruları

In [39]:
data = pd.DataFrame([('bird', 389.0),
                     ('bird', 40.0), ('bird', 405.0),
                     ('mammal', 80.2),
                     ('mammal', 12.0),('mammal', 58)],
                     index=['falcon', 'parrot', 'eagle', 'lion', 'monkey', 'leopard'],
                    columns=('class', 'speed'))
data

          class  speed
falcon     bird  389.0
parrot     bird   40.0
eagle      bird  405.0
lion     mammal   80.2
monkey   mammal   12.0
leopard  mammal   58.0

In [41]:
data.groupby("class").std()

             speed
class
bird    206.269242
mammal   34.785246

In [58]:
#data.groupby("class").describe()

In [42]:
import numpy as np
import pandas as pd
data = pd.DataFrame({'A':[3,np.nan,np.nan],
                  'B':[5,7,np.nan],
                  'C':[4,2,7]})
data

     A    B  C
0  3.0  5.0  4
1  NaN  7.0  2
2  NaN  NaN  7

In [50]:
#data.dropna(axis=0,inplace=True)
data.dropna(axis=1,inplace=True)
data

     A    B  C
0  3.0  5.0  4

In [61]:
data1 = pd.DataFrame({'key': ['A0', 'A1', 'A2'],
                        'B': ['B0', 'B1', 'B2'],
                        'C': ['C0', 'C1', 'C2']})
data1

  key   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [62]:

data2 = pd.DataFrame({'key': ['A0', 'A1', 'A2'],
                        'X': ['X3', 'X4', 'X5'],
                        'Y': ['Y3', 'Y4', 'Y5']}) 
data2

  key   X   Y
0  A0  X3  Y3
1  A1  X4  Y4
2  A2  X5  Y5

In [63]:
pd.merge(data1,data2,on='key')

  key   B   C   X   Y
0  A0  B0  C0  X3  Y3
1  A1  B1  C1  X4  Y4
2  A2  B2  C2  X5  Y5

In [66]:
data1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                       'B': ['B0', 'B1', 'B2']},
                       index=['K0', 'K1', 'K2'])
data1

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [65]:
data2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                       index=['K0', 'K2', 'K3'])
data2

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [68]:
data1.join(data2)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [69]:
import pandas as pd
import numpy as np
from numpy.random import randn
np.random.seed(102)
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())  
df

          W         X         Y         Z
A  1.668068  0.925862  1.057997 -0.920339
B  1.299748  0.331183 -0.509845 -0.903099
C -0.130016 -2.238203  0.973165 -0.024185
D -0.484928 -1.109264 -0.558975  1.042387
E -1.712263  0.136120 -0.464444  0.050980

In [70]:
def times3(x):
    return x*3

In [75]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [71]:
df[['W','X']].apply(lambda x:x*3)

          W         X
A  5.004205  2.777585
B  3.899245  0.993549
C -0.390049 -6.714610
D -1.454783 -3.327793
E -5.136788  0.408360

In [72]:
import seaborn as sns
flights = sns.load_dataset('flights')
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [73]:
flights.pivot_table(values='passengers',index='month',columns='year').head()

year   1949  1950  1951  1952  1953  1954  1955  1956  1957  1958  1959  1960
month
Jan     112   115   145   171   196   204   242   284   315   340   360   417
Feb     118   126   150   180   196   188   233   277   301   318   342   391
Mar     132   141   178   193   236   235   267   317   356   362   406   419
Apr     129   135   163   181   235   227   269   313   348   348   396   461
May     121   125   172   183   229   234   270   318   355   363   420   472